{% extends "base.html" %}
{% block content %}
<h3>Teacher Dashboard</h3>
<div class="mb-3">
  <a class="btn btn-outline-secondary" href="{{ url_for('add_student') }}">Add Student</a>
  <a class="btn btn-outline-info" href="{{ url_for('view_students') }}">View / Search Students</a>
  <a class="btn btn-success" href="{{ url_for('attendance') }}">Mark Attendance</a>
  <a class="btn btn-warning" href="{{ url_for('marks') }}">Add Marks</a>
  <a class="btn btn-primary" href="{{ url_for('teacher_report') }}">Generate Report (with Chart)</a>
</div>
<p>Use buttons above to manage class.</p>
{% endblock %}